* {
  font-family: Arial, sans-serif;
}

.signature-container {
  position: relative;
  display: inline-block;
  height: 200px;
}

.signature-template {
  display: block;
  max-width: 900px;
}

.signature-text {
  position: absolute;
  left: 20px;
  right: 20px;   /* allow dynamic adjustment */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Signature-watermark {
  margin-left: 165px;
}

/* Individual styles */
.signature-name {
  top: 25px;
  color: #2c3e50;
  font: bold 28px Arial;
}

.signature-position {
  top: 55px;
  font-size: 20px;
  color: #e08700;
}

.signature-cell {
  top: 110px;
  color: #2c3e50;
  font: 16px Arial;
}

.signature-email {
  top: 130px;
  color: #2c3e50;
  font: 16px Arial;
}

.signature-website {
  top: 170px;
  color: #2c3e50;
  font: bold 18px Arial;
}

#downloadBtn, #copyUrlBtn, #submitbtn {
  margin-top: 10px;
  padding: 5px 10px;
}

#signatureUrl {
  width: 400px;
  padding: 2px;
  margin-top: 10px;
}
